<div class="row mb-4">
    <div class="col-12">
        <p class="m-0"><strong>Book Title</strong></p>
        <h3 class="m-0">{{book.title}}</h3>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <p class="m-0">Author</p>
        <h5 class="m-0">{{book.author}}</h5>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <p>Genre: {{book.genre}}</p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <img style="max-width: 100%" [src]="book.coverImgPath" [alt]="book.title" [title]="book.title" class="img-responsive">
    </div>
</div>

<div class="row">
    <div class="col-12">
        <small>Tags</small>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <button type="button" class="btn btn-primary">Edit Book</button>
    </div>
</div>