<div class="row">
    <div class="col-12">
        <h4>Book Title</h4>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h5>Author</h5>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <img src="" alt="" class="img-responsive">
    </div>
</div>

<div class="row">
    <div class="col-12">
        <small>Tags</small>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <button type="button" class="btn btn-primary">Edit Book</button>
    </div>
</div>