<div class="row">
    <div class="col-12">
        <h4>Book Title</h4>
        <p>{{book.title}}</p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h5>Author</h5>
        <p>{{book.author}}</p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h6>Genre</h6>
        <p>{{book.genre}}</p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <img [src]="book.coverImgPath" [alt]="book.title" [title]="book.title" class="img-responsive">
    </div>
</div>

<div class="row">
    <div class="col-12">
        <small>Tags</small>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <button type="button" class="btn btn-primary">Edit Book</button>
    </div>
</div>