<form (ngSubmit)="submitBook()" [formGroup]="bookDetailsForm">
    <div id="book-form-data">

        <!-- Title -->
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" 
                id="title" 
                name="title" 
                class="form-control"
                formControlName="title"
            />
            <div *ngIf="bookDetailsForm.get('title').touched">
                <span *ngIf="getErrors('title')" 
                    class="text-danger fs-6">Title Is Required</span>
                <span *ngIf="getErrors('title', 'maxlength')" 
                    class="text-danger fs-6">Title Is WAAAAY too long man</span>
            </div>
        </div>

        <!-- Author -->
        <div class="form-group">
            <label for="author">Author</label>
            <input type="text" 
                name="author" 
                id="author"
                class="form-control"
                formControlName="author"
            />
            <div *ngIf="bookDetailsForm.get('author').touched">
                <span *ngIf="getErrors('author')" 
                    class="text-danger fs-6">Author Is Required</span>
                <span *ngIf="getErrors('author', 'maxlength')" 
                    class="text-danger fs-6">Nobody's name is this long.</span>
            </div>
        </div>

        <!-- Genre -->
        <div class="form-group">
            <label for="genre">Genre</label>
            <select name="genre" 
                id="genre"
                class="form-control"
                formControlName="genre"
            >
                <option value="Mystery">Mystery</option>
                <option value="Self-Help">Self-Help</option>
                <option value="Fantasy">Fantasy</option>
                <option value="Science-Fiction">Science Fiction</option>
                <option value="NonFiction">NonFiction</option>
                <option value="Drama">Drama</option>
                <option value="Accurate Historical Retelling">Accurate Historical Retelling</option>
            </select>
            <span *ngIf="bookDetailsForm.get('genre').invalid && bookDetailsForm.get('genre').touched" class="text-danger fs-6">Genre Is Required</span>

            <!-- Submit -->
            <div class="mt-4" style="width:100%; text-align:center">
                <button type="submit" 
                    class="btn btn-success"
                    [disabled]="false"
                >Add Book</button>
            </div>
        </div>
    </div>
</form>

<div class="row mt-4 ps-3" *ngIf="formWasSubmitted">
    <div class="col-xs-12">
        <small>Form was submitted!</small>
        <h3>Title: {{ bookDetails.title }}</h3>
        <h4>Author: {{ bookDetails.author }}</h4>
        <p>Genre: {{ bookDetails.genre }}</p>
        <img [src]="bookDetails.coverImgPath" [alt]="bookDetails.title" style="max-width:150px;border-radius: 15px;">
    </div>
</div>